<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Тестовое задание</title>
	<link href="build/main.css" rel="stylesheet">
  </head>
  <body>
	<header>
		<div class="header-content">
			<div class="wrapper">
				<div class="header-menu" style="display: none;">
					<input id="toggle" type="checkbox">
					<label class="toggle-container" for="toggle">
						<span class="button button-toggle"></span>
					</label>
					<nav class="nav">
						<a class="nav-item" href="">Dashboard</a>
						<a class="nav-item" href="">History</a>
						<a class="nav-item" href="">Statistics</a>
						<a class="nav-item" href="">Settings</a>
					</nav>
				</div>
				<div class="header-logo">
					<img src="img/logo.png" alt="site-logo">
				</div>
				<div class="header-title">
					Твоя премиум карта
					<span>Лучшая карта для любителей путешествий</span>
				</div>
				<div class="header-number">
					<div class="header-number_block">
						<div class="number">
							11%
						</div>
						<div class="text">
							Вернем за покупки милями
						</div>
					</div>
					<div class="header-number_block">
						<div class="number">
							0%
						</div>
						<div class="text">
							Бесплатное снятие наличных по всему миру
						</div>
					</div>
					<div class="header-number_block">
						<div class="number">
							7%
						</div>
						<div class="text">
							До 7% на остаток по счету
						</div>
					</div>
					<div class="header-number_block">
						<div class="number">
							0р
						</div>
						<div class="text">
							Бесплатное годовое обслуживание
						</div>
					</div>
				</div>
				<div class="header-button">
					<button>Заказать сейчас</button>
				</div>
			</div>
		</div>
	</header>
	<div class="bank-textblock">
		<div class="bank-textblock_title">
			Путешествие мечты начинается с CARD PLUS
		</div>
		<div class="bank-textblock_subtitle">
			Мы продумали каждую мелочь. Владельцы CARD PLUS получают особый<br>пакет привилегий, необходимый для любого путешествия
		</div>
		<div class="wrapper">
			<div class="bank-textblock_container">
				<div class="bank-tbcol">
					<div class="bank-tbcol_img">
						<img src="img/textblock_1.png" alt="img">
					</div>
					<div class="bank-tbcol_title">
						Билеты любых авиакомпаний
					</div>
					<div class="bank-tbcol_text">
						Предложения от 300+ авиакомпании?, 185+ lowcost перевозчиков, чартеры от 60 крупных россии?скихтуроператоров
					</div>
				</div>
				<div class="bank-tbcol">
					<div class="bank-tbcol_img">
						<img src="img/textblock_2.png" alt="img">
					</div>
					<div class="bank-tbcol_title">
						Мили больше не сгорают
					</div>
					<div class="bank-tbcol_text">
						Мили, накопленные при оплате картой AlfaTravel, не сгорают и остаются на вашем счете, пока вы не решите их потратить
					</div>
				</div>
				<div class="bank-tbcol">
					<div class="bank-tbcol_img">
						<img src="img/textblock_4.png" alt="img">
					</div>
					<div class="bank-tbcol_title">
						Продвинутая страховка – бесплатно

					</div>
					<div class="bank-tbcol_text">
						Расширенная страховка для всей семьи с учетом экстремальных видов спорта и алкоголя
					</div>
				</div>
				<div class="bank-tbcol">
					<div class="bank-tbcol_img">
						<img src="img/textblock_3.png" alt="img">
					</div>
					<div class="bank-tbcol_title">
						Доступ к счетам в разных валютах
					</div>
					<div class="bank-tbcol_text">
						Текущие счета в рублях, долларах США, евро, английских фунтах стерлингов и швейцарских франках открываются в любой момент
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bank-services">
		<div class="bank-services_title">
			Мы позаботились, чтобы вы получили
		</div>
		<div class="wrapper">
			<div class="bank-services_container">
				<div class="bank-scol">
					<div class="bank-scol_img">
						<img src="img/services_pic_1.jpg" alt="img">
					</div>
					<div class="bank-scol_title">
						Бесплатный безлимитный интернет в роуминге
					</div>
					<div class="bank-scol_logos">
						<img src="img/services_logo_1.png" img="logo">
						<img src="img/services_logo_2.png" img="logo">
						<img src="img/services_logo_3.png" img="logo">
						<img src="img/services_logo_4.png" img="logo">
					</div>
				</div>
				<div class="bank-scol">
					<div class="bank-scol_img">
						<img src="img/services_pic_2.jpg" alt="img">
					</div>
					<div class="bank-scol_title">
						Бесплатная упаковка багажа
					</div>
					<div class="bank-scol_text">
						Держатели карт Visa Signature могут упаковать багаж в крупных аэропортах России
					</div>
				</div>
				<div class="bank-scol">
					<div class="bank-scol_img">
						<img src="img/services_pic_3.jpg" alt="img">
					</div>
					<div class="bank-scol_title">
						Бесплатный доступ в приложении App In The Air
					</div>
					<div class="bank-scol_text">
						Бесплатная премиум подписка при покупке авиабилетов на travel.alfabank.ru
					</div>
				</div>
				<div class="bank-scol">
					<div class="bank-scol_img">
						<img src="img/services_pic_4.jpg" alt="img">
					</div>
					<div class="bank-scol_title">
						Такси бизнес-класса со скидкой 20%
					</div>
					<div class="bank-scol_logos">
						<img src="img/services_logo_5.png" img="logo">
						<img src="img/services_logo_6.png" img="logo">
					</div>
				</div>
				<div class="bank-scol">
					<div class="bank-scol_img">
						<img src="img/services_pic_5.jpg" alt="img">
					</div>
					<div class="bank-scol_title">
						Скидка в ресторанах Novikov Group в аэропорту Шереметьево
					</div>
				</div>
				<div class="bank-scol">
					<div class="bank-scol_img">
						<img src="img/services_pic_6.jpg" alt="img">
					</div>
					<div class="bank-scol_title">
						Доступ в бизнес-залы Priority Pass по всему миру
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bank-help">
		<div class="bank-help_title">
			Персональный помощник
		</div>
		<div class="bank-help_subtitle">
			Бесплатно для владельцев <span>CARD PLUS</span>
		</div>
		<div class="bank-help_container">
			<div class="bank-hcol">
				<div class="bank-hcol_img">
					<img src="img/help_icon_1.png" alt="icon">
				</div>
				<div class="bank-hcol_text">
					Организует встречи, найдет гидов<br>и переводчиков
				</div>
			</div>
			<div class="bank-hcol">
				<div class="bank-hcol_img">
					<img src="img/help_icon_2.png" alt="icon">
				</div>
				<div class="bank-hcol_text">
					Спланирует поездку<br>по самым интересным местам вашего отдыха
				</div>
			</div>
			<div class="bank-hcol">
				<div class="bank-hcol_img">
					<img src="img/help_icon_3.png" alt="icon">
				</div>
				<div class="bank-hcol_text">
					Достанет билеты<br>на мероприятия, даже если их уже нет в продаже
				</div>
			</div>
			<div class="bank-hcol">
				<div class="bank-hcol_img">
					<img src="img/help_icon_4.png" alt="icon">
				</div>
				<div class="bank-hcol_text">
					Закажет столик<br>в ресторане, клубе или кафе
				</div>
			</div>
		</div>
	</div>
	<div class="bank-order">
		<div class="bank-order_title">
			Оформите свою новую карту для путешествий
		</div>
		<div class="wrapper">
			<div class="bank-order_container">
				<div class="order-block">
					<div class="order-number">
						до <span>11%</span>
					</div>
					<div class="order-text">
						Милями за услуги, оплаченные на travel.ru
					</div>
				</div>
				<div class="order-block">
					<div class="order-number">
						до <span>11%</span>
					</div>
					<div class="order-text">
						Милями за любые покупки по карте
					</div>
				</div>
				<div class="order-block">
					<div class="order-number">
						<span>1 = 1</span>
					</div>
					<div class="order-text">
						Оплата милями билетов любых авиакомпаний по курсу 1 миля = 1 Р
					</div>
				</div>
			</div>
		</div>
		<div class="bank">
			<div class="card-choose" id="tabs">
				<ul class="tabs-nav">
					<li><a href="#tab-1">Кредитная карта</a></li>
					<li><a href="#tab-2">Дебетовая карта</a></li>
				</ul>	
				<div class="tabs-items">
					<div class="tabs-item" id="tab-1">
						<div class="wrapper">
							<div class="card-pic">
								<img src="img/card.png" alt="src">
							</div>
							<div class="card-info">
								<div class="card-info_button">
									<button>Отправить заявку</button>
								</div>
								<div class="card-info_table">
									<table>
										<tr>
											<td>Стоимость карты в год (руб.)</td>
											<td>
												<p>6 490 (без пакета услуг),</p>
												<p>4 990 (с пакетом услуг)</p>
											</td>
										</tr>
										<tr>
											<td>Приветственные мили (шт.)</td>
											<td>1 000</td>
										</tr>
										<tr>
											<td>Мили за покупки</td>
											<td>5%</td>
										</tr>
									</table>
								</div>
								<div class="card-choose_link">
									<a href="#">Все подробности</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs-item" id="tab-2">
						<div class="wrapper">
							<div class="card-pic">
								<img src="img/card.png" alt="src">
							</div>
							<div class="card-info">
								<div class="card-info_button">
									<button>Отправить заявку</button>
								</div>
								<div class="card-info_table">
									<table>
										<tr>
											<td>Стоимость карты в год (руб.)</td>
											<td>
												6 490 (без пакета услуг),<br>
												4 990 (с пакетом услуг)		
											</td>
										</tr>
										<tr>
											<td>Приветственные мили (шт.)</td>
											<td>1 000</td>
										</tr>
										<tr>
											<td>Мили за покупки</td>
											<td>5%</td>
										</tr>
									</table>
								</div>
								<div class="card-choose_link">
									<a href="#">Все подробности</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="wrapper">
			<div class="footer-content">
				<div class="footer-col">
					<div class="footer-logo">
						<a href="/"><img src="img/logo.png" alt="site-logo"></a>
						АО «Кредит Европа Банк»
					</div>
				</div>
				<div class="footer-col">
					<div class="footer-menu">
						<ul>
							<li><a href="#">О банке</a></li>
							<li><a href="#">Офисы и банкоматы</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Вакансии</a></li>
							<li><a href="#">Реализуемое имущество</a></li>
							<li><a href="#">Раскрытие информации</a></li>
							<li><a href="#">Ставки по вкладам</a></li>
							<li><a href="#">Условия и тарифы</a></li>
							<li><a href="#">Корпоративное управление</a></li>
							<li><a href="#">Карта сайта</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-col">
					<div class="footer-phone">
						<div class="footer-phone_country">
							По России
						</div>
						<a href="tel:88009506570">8 800 950 6570</a>
					</div>
					<div class="footer-phone">
						<div class="footer-phone_country">
							По Миру
						</div>
						<a href="tel:88009506570">8 800 950 6570</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	
	<div class="modal">
		<div class="modal-close">
			<button>close</button>
		</div>
		<div class="modal-form">
			<div class="modal-form_title">
				Заявка на карту
			</div>
			<form id="app" @submit="checkForm" action="/" method="post">
				<p v-if="errors.length">
					<b>Пожалуйста исправьте указанные ошибки:</b>
					<ul>
						<li v-for="error in errors">{{ error }}</li>
					</ul>
				</p>
				<div class="form-field">
					<label for="name">ФИО</label>
					<input type="text" name="name" v-model="name">
				</div>
				<div class="form-field">
					<label for="email">Электронный адрес</label>
					<input type="email" name="email" v-model="email">
				</div>
				<div class="form-field">
					<label for="phone">Номер телефона</label>
					<input type="tel" name="phone" v-model="phone">
				</div>
				<div class="form-field">
					<label for="nationality">Гражданство</label>
					<select name="nationality" v-model="nationality">
						<option>Российская федерация</option>
						<option>Белорусь</option>
						<option>Украина</option>
						<option>Казахстан</option>
					</select>
				</div>
				<div class="form-check">
					<input type="checkbox">Я соглашаюсь на обработку моих персональных данных
				</div>
				<div class="form-submit">
					<input type="submit" value="Заказать сейчас">
				</div>
			</form>
		</div>
		<div class="form-ok">
			<img src="img/form-ok.png">
			<div class="form-ok_title">
				Ваша заявка принята
			</div>
			<div class="form-ok_text">
				В ближайшее время с вами свяжется наш менеджер
			</div>
		</div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.columnizer.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/form.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>